*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: none;
}

li {
    list-style-type: none;
}

header {
    position: sticky;
    background-color: white;
    top: 0;
    padding-top: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    padding-left: 0;

    & div:nth-of-type(1), div:nth-of-type(2) {
        display: flex;
        gap: 15px;
    }

}
.cart {
    position: relative;
}
.quantity {
    position: absolute;
    top: -30px;
    right: -10px;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}


.cart {
    cursor: pointer;
}

dialog p {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.fa-heart {
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    & .des {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }

    & h3,p {
        margin: 0;
    }

    & img {
        width: 200px;
    }
}

.inc {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & > button {
        padding: 10px 20px;
        background-color: rebeccapurple;
        border: none;
        color: white;
        font-size: 0.8rem;
        border-radius: 10px;
        text-transform: uppercase;
        cursor: pointer;
    }

    & span {
        display: flex;
        /* margin-right: -20px;
        margin-left: 10px; */
        gap: 3px;

        & button {
            color: rebeccapurple;
            font-size: 1rem;
            background-color: white;
            border: 1px solid rebeccapurple;
            border-radius: 3px;
        }
    }

}

.bop {
    animation: bop 200ms ease-out;
}

dialog {
    width: 400px
}

dialog .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

dialog .total__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addToCart, .removeFromCart {
    padding: 2px 20px;
    background-color: rebeccapurple;
    border: none;
    color: white;
    font-size: 0.7rem;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.removeFromCart {
    background-color: red;
}

@keyframes bop {
    50% {
        transform: scale(1.4)
    }
}

@media screen and (width < 800px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (width < 500px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (width < 300px) {
    main {
        grid-template-columns: 1fr;
    }
}